extends ./com.pug  
block content

	h1(class="ml-4", style='padding-bottom: 2rem;') kho sách của bạn
	div(class=" ml-4 btn alert-success")
		a(href="/books/create", class="ml-4") thêm sách
	br
	div(class=" ml-4 btn alert-success")
		a(href="/user", class="ml-4") Người thuê sách
	form(class="ml-4", action="/books", method="GET", style='width: 18rem;' )
		input(type="text", name="q")
		button search
		hr(style='width: 100rem;')
	nav.ml-4(aria-label='...')
		ul.pagination.pagination-sm
			li.page-item.active(aria-current='page')
				a.page-link 1
			li.page-item
				a.page-link(href='/books?page=2') 2
			li.page-item
				a.page-link(href='/books?page=3') 3
			li.page-item
				a.page-link(href='/books?page=4') 4
			li.page-item
				a.page-link(href='/books?page=5') 5				
	each user in todo		
		.card(style='width: 18rem; float: left;' ,class="ml-4 mb-2 alert-success alert ")
			.card.d-flex-4(class="b-none alert-success alert ")
				.card-body
					h5.card-title= user.title
					h6.card-subtitle.mb-2.text-muted= user.des
					a.card-link(href='/books/'+ user.id + "/delete") xóa
					a.card-link(href="/books/" + user.id + "/update") cập nhật		      